parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with Illuminate\\Contracts\\Cache\\Repository and ''tags'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 3
			path: src/Services/TenantCache.php